<div class="container">
  <div class="cards mt-4">
    <% @tasks.each do |task| %>
    <div class="card mb-2">
      <%= link_to task_path(task) do %>
        <div class="card-header">
          <% if task.completed %>
            <i class="far fa-check-square"></i>
          <% else %>
            <i class="far fa-square"></i>
          <% end %>
          <%= task.title %>
        </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
